---
layout: default
title: Blog
pagination:
  enabled: true
  collection: posts
permalink: /blog/
---
<h1>Blogs</h1>

<ul>
  {% for post in paginator.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.content | strip_html | truncatewords: 50 }}
      </br>
      <button><a href="{{ post.url }}">Check it out</a></button>
    </li>
    </br>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  {% for page in (1..paginator.total_pages) %}
    <a href="{{ paginator.page_path | replace: ':num', page }}" class="{% if page == paginator.page %}current{% endif %}">{{ page }}</a>
  {% endfor %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>